---
import fs from 'node:fs/promises';
import { Icon } from 'astro-icon/components';
import { Hide, SiteDescription, SiteTitle } from '~/config';
import Nav from './Nav.astro';
import ThemeToggler from './ThemeToggler.astro';

---

<header class="grid grid-cols-2 items-start justify-between lg:flex">
	<button
		transition:persist
		id="menu-btn"
		class="justify-self-end lg:hidden"
		title="open menu"
		aria-label="open menu"
		aria-expanded="false"
		aria-controls="menu-items"
	>
		<Icon name="ri:menu-fill" class="size-8" />
	</button>
</header>

<script>
	const toggleMenu = (document: Document) => {
		if (window.matchMedia('(min-width: 1024px)').matches) {
			return;
		}
		const btn = document.getElementById('menu-btn');
		btn?.addEventListener('click', () => {
			const menuExpanded = btn.getAttribute('aria-expanded') === 'true';
			btn.setAttribute('aria-expanded', menuExpanded ? 'false' : 'true');
			btn.setAttribute('aria-label', menuExpanded ? 'close menu' : 'open menu');
			document.getElementById('menu')?.classList.toggle('hidden');
		});
	};
	toggleMenu(document);
	document.addEventListener('astro:before-swap', (e) => toggleMenu(e.newDocument));
</script>
